
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  font-family: Calibri;
}
button {
  margin-top: 20px;
  font-family: Calibri;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

h1{
	color:white;
	font-size:50px;
	padding:80px;
	text-decoration:underline;
	margin-right:12px;
	text-shadow:3px 3px 0 #000;
	
}

#nav_wrapper{
  height:auto;
  width:100%;
  background:#377D7A;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
  text-align:center;
  list-style:none;
  color: #ffffff;
  display:inline-block;
  margin-bottom:10px;
  font-family: Calibri;
}
#nav_wrapper ul li {
  display:inline-block;width:10em;
  padding:0 25px 0 25px;
  font-family: Calibri;

}

#nav_wrapper a{

  color:white;
  text-decoration:none;
  font-family: Calibri;


}

#nav a:hover{
  color:#c1c1c1;
}

#nav_wrapper ul li:hover{

  transition:all 0.45s;
  opacity:0.5;
  filter:alpha(opacity=75);
  font-family: Calibri;
}
